:root{
	--blue: #1e90ff;
  --white: #ffffff;
  --headColor: green;
  --contentcolor: orange;
  --linkcolor: rgb(202, 48, 48);
 background-color: tan;
 
 
 
}

h1,p,h2{
	color: var(--contentcolor,yellow);
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	 margin-block-start: 0px;
	margin: 0px 0px;
}
/*
========================================================================
content is for the background and maybe later  could inherit from
========================================================================
*/



/*link customization for */
a:link {
  color: var(--linkcolor);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
   color: var(--linkcolor);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
 
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  
  background-color: transparent;
  text-decoration: underline;
}

#headsection{
background: rgb(202, 202, 255);
background-color: tomato;


}

#body{
	margin-block-start: 0px;
	margin: 0px ;
}

header{
	background-color: greenyellow;

}


hr{
	margin: 0px 0px;
 }

li{
	display:inline-block;
	outline-width: 9px;
	
	
}
ul{
	margin: 0
}
#contentsection{
background-color: var(--headColor);
}

